@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600&display=swap");
* {
  box-sizing: border-box; }

.header {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center; }

.logo {
  box-sizing: content-box;
  height: 80px;
  width: 200px;
  margin: 20px 0 20px;
  background-color: #dadfa5; }

.navigation {
  width: 50%;
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .navigation__link {
    font-family: "Lora", serif;
    font-weight: 500;
    letter-spacing: 1.5px;
    text-decoration: none;
    font-size: 15px;
    color: black;
    transition: .2s; }
    .navigation__link:hover {
      color: #dadfa5; }

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.hero {
  position: relative;
  height: calc(100vh - 160px - 60px);
  width: 100%;
  margin-bottom: 80px;
  background-color: lightgray; }
  .hero__photo {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.tools {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 80px;
  min-height: 100vh;
  padding-bottom: 60px; }
  .tools__title {
    display: inline;
    position: relative;
    margin: 50px 0;
    text-align: center;
    font-family: "Lora", serif;
    font-weight: 600;
    font-size: 24px;
    letter-spacing: 2px;
    color: black; }
    .tools__title::before {
      content: "";
      position: absolute;
      height: 60%;
      width: 100%;
      transform: translate(10%, 90%);
      background-color: #dadfa5;
      z-index: -1; }
  .tools__wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    overflow: hidden; }
  .tools__photo-container {
    height: 100%;
    width: 50%; }
  .tools__photo {
    height: 100%;
    width: 100%;
    object-fit: cover; }
  .tools__text {
    margin: 0;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 24px;
    width: 50%;
    margin-left: 30px; }

.recipe {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 80px; }
  .recipe__title {
    display: inline;
    position: relative;
    margin: 50px 0;
    text-align: center;
    font-family: "Lora", serif;
    font-weight: 600;
    font-size: 24px;
    letter-spacing: 2px;
    color: black; }
    .recipe__title::before {
      content: "";
      position: absolute;
      height: 60%;
      width: 100%;
      transform: translate(10%, 90%);
      background-color: #dadfa5;
      z-index: -1; }

.ingredients {
  width: 100%;
  height: 380px;
  display: grid;
  grid-template-columns: 40% 60%;
  margin-bottom: 20px; }
  .ingredients__wrapper {
    text-align: right;
    margin-right: 40px; }
  .ingredients__title {
    margin: 0 0 14px;
    font-family: "Lora", serif; }
  .ingredients__list {
    list-style: none;
    font-family: "Lato", sans-serif;
    margin: 4px 0 16px; }
  .ingredients__item {
    display: list-item;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 24px; }
  .ingredients__text {
    margin: 0;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 24px; }
  .ingredients__photo {
    overflow: hidden;
    position: relative;
    height: 100%;
    width: 80%;
    object-fit: cover; }

.steps {
  width: 800px;
  display: flex;
  flex-direction: column; }
  .steps__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    text-align: center; }
  .steps__name {
    margin: 0 0 14px;
    font-family: "Lora", serif; }
  .steps__text {
    margin: 0;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 24px; }

.faq {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 80px; }
  .faq__title {
    display: inline;
    position: relative;
    margin: 50px 0;
    text-align: center;
    font-family: "Lora", serif;
    font-weight: 600;
    font-size: 24px;
    letter-spacing: 2px;
    color: black; }
    .faq__title::before {
      content: "";
      position: absolute;
      height: 60%;
      width: 100%;
      transform: translate(10%, 90%);
      background-color: #dadfa5;
      z-index: -1; }
  .faq__wrapper {
    width: 100%;
    display: block;
    column-count: 2;
    row-gap: 30px; }
  .faq__qa {
    width: 100%;
    margin-bottom: 30px; }
  .faq__question {
    margin: 0 0 14px;
    font-family: "Lora", serif; }
  .faq__answear {
    margin: 0;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 24px; }

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 80px;
  width: 80%;
  margin: 0 auto; }
  .contact__title {
    display: inline;
    position: relative;
    margin: 50px 0;
    text-align: center;
    font-family: "Lora", serif;
    font-weight: 600;
    font-size: 24px;
    letter-spacing: 2px;
    color: black; }
    .contact__title::before {
      content: "";
      position: absolute;
      height: 60%;
      width: 100%;
      transform: translate(10%, 90%);
      background-color: #dadfa5;
      z-index: -1; }
  .contact__wrapper {
    width: 100%;
    height: 600px;
    display: grid;
    grid-template-columns: 40% 60%; }
  .contact__photo {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .contact__form {
    margin-left: 60px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center; }

.form__input-wrapper {
  width: 300px;
  display: flex;
  flex-direction: column;
  margin: 0 0 30px; }

.form__input {
  height: 26px;
  border: 1px solid black;
  border-radius: 2px; }
  .form__input::placeholder {
    font-family: "Lato", sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    padding-left: 2px; }

.form__textarea {
  border: 1px solid black;
  resize: none;
  height: 160px; }
  .form__textarea::placeholder {
    font-family: "Lato", sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    padding-left: 2px; }

.form__button {
  background-color: transparent;
  border: none;
  display: inline-block;
  width: auto;
  text-align: left;
  padding: 0;
  position: relative; }
  .form__button:hover::before {
    content: "";
    position: absolute;
    height: 60%;
    width: 100%;
    transform: translate(10%, 90%);
    background-color: #dadfa5;
    z-index: -1; }
