@import "_variables";

* {
    box-sizing: border-box;
}

@mixin section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 80px;
}

@mixin heading {
    display: inline;
    position: relative;
    margin: 50px 0;
    text-align: center;
    font-family: $serifText;
    font-weight: 600;
    font-size: 24px;
    letter-spacing: 2px;
    color: black;

    &::before {
        content: "";
        position: absolute;
        height: 60%;
        width: 100%;
        transform: translate(10%, 90%);
        background-color: $creame;
        z-index: -1;
    }
}

@mixin small-heading {
    margin: 0 0 14px;
    font-family: $serifText;
}

@mixin text-content {
    margin: 0;
    font-family: $sanserifText;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 24px;
}

.header {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    box-sizing: content-box;
    height: 80px;
    width: 200px;
    margin: 20px 0 20px;
    background-color: $creame;
}

.navigation {
    width: 50%;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &__link {
        font-family: $serifText;
        font-weight: 500;
        letter-spacing: 1.5px;
        text-decoration: none;
        font-size: 15px;
        color: black;
        transition: .2s;

        &:hover {
            color: $creame;
        }
    }
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero {
    position: relative;
    height: calc(100vh - 160px - 60px);
    width: 100%;
    margin-bottom: 80px;
    background-color: lightgray;

    &__photo {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

.tools {
    @include section;
    min-height: 100vh;
    padding-bottom: 60px;

    &__title {
        @include heading;
    }

    &__wrapper {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-grow: 1;
        overflow: hidden;
    }

    &__photo-container {
        height: 100%;
        width: 50%;
    }

    &__photo {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    &__text {
        @include text-content;
        width: 50%;
        margin-left: 30px;
    }
}

.recipe {
    @include section;

    &__title {
        @include heading;
    }
}

.ingredients {
    width: 100%;
    height: 380px;
    display: grid;
    grid-template-columns: 40% 60%;
    margin-bottom: 20px;

    &__wrapper {
        text-align: right;
        margin-right: 40px;
    }

    &__title {
        @include small-heading;
    }

    &__list {
        list-style: none;
        font-family: $sanserifText;
        margin: 4px 0 16px;
    }

    &__item {
        display: list-item;
        font-family: $sanserifText;
        font-size: 16px;
        letter-spacing: 1px;
        line-height: 24px;
    }

    &__text {
        @include text-content;
    }

    &__photo {
        overflow: hidden;
        position: relative;
        height: 100%;
        width: 80%;
        object-fit: cover;
    }
}

.steps {
    width: 800px;
    display: flex;
    flex-direction: column;

    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
        text-align: center;
    }

    &__name {
        @include small-heading;
    }

    &__text {
        @include text-content;
    }
}

.faq {
    @include section;

    &__title {
        @include heading;
    }

    &__wrapper {
        width: 100%;
        display: block;
        column-count: 2;
        row-gap: 30px;
    }

    &__qa {
        width: 100%;
        margin-bottom: 30px;
    }

    &__question {
        @include small-heading;
    }

    &__answear {
        @include text-content;
    }
}

.contact {
    @include section;
    width: 80%;
    margin: 0 auto;

    &__title {
        @include heading;
    }

    &__wrapper {
        width: 100%;
        height: 600px;
        display: grid;
        grid-template-columns: 40% 60%;
    }

    &__photo {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__form {
        margin-left: 60px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }
}

.form {

    &__input-wrapper {
        width: 300px;
        display: flex;
        flex-direction: column;
        margin: 0 0 30px;
    }

    &__input {
        height: 26px;
        border: 1px solid black;
        border-radius: 2px;

        &::placeholder {
            font-family: $sanserifText;
            font-size: 14px;
            letter-spacing: 1px;
            padding-left: 2px;
        }
    }

    &__textarea {
        border: 1px solid black;
        resize: none;
        height: 160px;

        &::placeholder {
            font-family: $sanserifText;
            font-size: 14px;
            letter-spacing: 1px;
            padding-left: 2px;
        }
    }

    &__button {
        background-color: transparent;
        border: none;
        display: inline-block;
        width: auto;
        text-align: left;
        padding: 0;
        position: relative;

        &:hover::before {
            content: "";
            position: absolute;
            height: 60%;
            width: 100%;
            transform: translate(10%, 90%);
            background-color: $creame;
            z-index: -1;
        }
    }
}